<!DOCTYPE html>
<html ng-app="jobs">
  <head>
    <title>GA Jobs</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
  	
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  	<link rel='stylesheet' href='/stylesheets/style.css' />		
  </head>
  <body>
  
    <div class="time-slot" ng-controller="JobsController">

      <form class="form-inline" role="form" action="/upload" method="/post">
        <select>
          <option value="hit_list">Hit List</option>
          <option value="contact">Contact</option>
          <option value="engagement">Engagement</option>
          <option value="hired">Hired</option>
        </select>
        <input type="text" ng-model="company" class="form-control" name="company" id="company" placeholder="Company">
        <input type="text" ng-model="contact" class="form-control" name="contact" id="contact" placeholder="Contact">
        <button type="button" class="btn btn-default">Add</button>
      </form>

      <h1>{{company}}</h1>
      <h1>{{contact}}</h1>

    </div>










    <script src="/javascripts/main.js"></script>
  </body>
</html>
