<div class="time-slot" ng-controller="JobsController">
  <div class="container-fluid">
    <div id="textPreview">
      <ul class="list-inline text-center">
        <li id="select">{{formData.category}}</li>
        <li id="company">{{formData.company}}</li>
        <li id="contact">{{formData.contact}}</li>
      </ul>
    </div>

    <form class="form-inline text-center" role="form" ng-submit="processForm()">
      <select id="select" ng-model="formData.category">
        <option value="Hit List">Hit List</option>
        <option value="Contact">Contact</option>
        <option value="Engagement">Engagement</option>
        <option value="Hired">Hired</option>
      </select>
      <input type="text" ng-model="formData.company" class="form-control" name="company" id="company" placeholder="Company">
      <input type="text" ng-model="formData.contact" class="form-control" name="contact" id="contact" placeholder="Contact">
      <button type="submit" class="btn btn-success">Add</button>
    </form>

    <div class="section text-center">

      <div class="col-sm-3">Hit List

        <div class="quote-container">
          <i class="pin"></i>
          <blockquote class="note yellow">
            Blackbaud
            <cite class="author">Jonathan Smith</cite>
          </blockquote>
        </div>

        <div class="quote-container">
          <i class="pin"></i>
          <blockquote class="note yellow">
            Blackbaud
            <cite class="author">Jonathan Smith</cite>
          </blockquote>
        </div>

      </div>

      <div class="col-sm-3">Contact

      </div>

      <div class="col-sm-3">Engagement

      </div>

      <div class="col-sm-3">Hired

      </div>

    </div>

  </div>           
</div>



